* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

/*=====MY RULES=====*/
.top-menu {
	display: flex;
	align-items: center;
	color: white;
	justify-content: space-between;
	font-size: 28px;
	padding: 10px;
}

.tabs {
	display: flex;
	gap: 20px;
	font-size: 20px;
}

.gray {
	color: gray;
}
/*=====///////=====*/

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}
/*=====MY RULES=====*/
.bottomnavbar {
 display: flex;
 justify-content: space-between;
 background-color: black;
 padding-top: 15px;
 color: gray;
}

.bottomnavbar i {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;     
}

.bottomnavbar span {
  font-size: 12px;
  margin-top: 2px;
}

/*=====///////=====*/
/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;
/*=====MY RULES=====*/
	color: white;
	text-align: center;
	margin-top: 100px;
}

.bologo {
	width: 60px;
	border-radius: 50%;
	border: 2px solid white;
	position: relative;
}

.stat {
	margin-top: 30px;
	margin-bottom: 10px;
}

.stat i {
	font-size: 30px;
}

.stat span {
	font-size: 30px;
}

.plus {
	background-color: red;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	translate: transformY(-100px);
	position: relative;
	left: 20px;
	bottom: 20px;
}
/*=====///////=====*/

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}
/* --------------------- */